<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>

	<connectionStrings>
		<add name="MedicaidNETEntities" connectionString="metadata=res://*/NETDB.csdl|res://*/NETDB.ssdl|res://*/NETDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=MS-19390\TEST;Initial Catalog=MedicaidNetTesting;integrated security=True;Connection Timeout=600;MultipleActiveResultSets=True;App=EntityFramework&quot;"
		  providerName="System.Data.EntityClient" />
		<add name="NETEngine.Properties.Settings.MedicaidNETConnectionString"
		  connectionString="Data Source=dsqltr\tr;Initial Catalog=MedicaidNET;Integrated Security=True"
		  providerName="System.Data.SqlClient" />
		<add name="NETEngine.Properties.Settings.MedicaidNETTestingConnectionString"
		  connectionString="Data Source=dsqltr\tr;Initial Catalog=MedicaidNET;Integrated Security=True;MultipleActiveResultSets=True;Application Name=EntityFramework"
		  providerName="System.Data.SqlClient" />
		<add name="NETEngine.Properties.Settings.Medicaid_NET_EricaConnectionString"
		  connectionString="Data Source=dsqltr\tr;Initial Catalog=MedicaidNET;Integrated Security=True;MultipleActiveResultSets=True;Connect Timeout=60;Application Name=EntityFramework"
		  providerName="System.Data.SqlClient" />
		<add name="NETEngine.Properties.Settings.MedicaidNETConnectionString1"
		  connectionString="Data Source=dsqltr\tr;Initial Catalog=MedicaidNET;Integrated Security=True;MultipleActiveResultSets=True;Connect Timeout=30;Application Name=EntityFramework"
		  providerName="System.Data.SqlClient" />
		<add name="NETEngine.Properties.Settings.MedicaidNETConnectionString2"
		  connectionString="Data Source=MS-19390\TEST;Initial Catalog=MedicaidNET;Integrated Security=True;MultipleActiveResultSets=True;Connect Timeout=30;Application Name=EntityFramework"
		  providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>